# Ignore all local terraform data
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Ignore sensitive keys
terraform/keys/*.json

# (Optional) Ignore Terraform plan output
terraform/*.tfplan

# Ignore VSCode settings (if needed)
.vscode/
